.modal-dialog-centered {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: calc(100% - (.5rem * 2));
}

.modal-dialog {
    margin: 30px auto;
}
